name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - shell: bash
      env:
        GRADLE_PROPERTIES: ${{ secrets.GRADLE_PROPERTIES }}
        SIGNING_GPG_KEY: ${{ secrets.SIGNING_GPG_KEY }}
      run: |
        base64 -d <<< "$SIGNING_GPG_KEY" > /tmp/secring.gpg
        echo "$GRADLE_PROPERTIES" > gradle.properties
    - name: Extract tag
    - shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch
    - name: Upload archive
      run: ./gradlew -Prelease -Pversion=${{ steps.extract_branch.outputs.branch }} clean build uploadArchives
